body {
  background-color: #303030;
  color: white;
}

.tab {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.4rem 0.5rem;
  border: 1px solid #505050;
  border-bottom: none;
}

.tab:last-child {
  border-bottom: 1px solid #505050;
}
